.td1{
    padding: 5px;
    font-weight: bold;
}

input{
    border-radius: 3px;
}

tr{
    height: 35px;
}

.td2Des{
    width: 300px;
}
.td2Dato{
    width: 60px;
    TEXT-ALIGN: RIGHT;
}

.errores{
    background-color: red;
    color:white;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
}
.errorestr{
    padding: 10px;
}