.ordenado{
    cursor: pointer;
    color:blue
}

.divhead {
	display    : flex;
	align-items: center;
}

.adminHeader {
	text-align: -webkit-center;
}

.nibbotBtn {
	color           : rgb(255, 255, 255);
	font-size       : 16px;
	line-height     : 16px;
	padding         : 6px;
	border-radius   : 10px;
	font-family     : serif;
	font-weight     : normal;
	text-decoration : none;
	font-style      : normal;
	font-variant    : normal;
	text-transform  : none;
	background-image: linear-gradient(to right, rgb(28, 110, 164) 0%, rgb(35, 136, 203) 50%, rgb(20, 78, 117) 100%);
	box-shadow      : rgb(0, 0, 0) 5px 5px 15px 5px;
	border          : 2px solid rgb(28, 110, 164);
	display         : inline-block;
}

.nibbotBtn:hover {
	background: #1C6EA4;
}

.nibbotBtn:active {
	background: #144E75;
}


.form-style-list {
	max-width    : 800px;
	margin       : 50px auto;
	background   : #fff;
	border-radius: 5px;
	padding      : 20px;
}

.form-style-list h1 {
	display   : block;
	text-align: center;
	padding   : 0;
	margin    : 0px 0px 20px 0px;
	color     : #5C5C5C;
	font-size : x-large;
}

.form-style-list ul {
	list-style: none;
	padding   : 0;
	margin    : 0;
	text-align: end;
}

.form-style-list li {
	display      : block;
	padding      : 9px;
	border       : 1px solid #bbacac;
	margin-bottom: 16px;
	border-radius: 3px;
}

.form-style-list li:last-child {
	border       : none;
	margin-bottom: 0px;
	text-align   : center;
}

.form-style-list li>label {
	display    : block;
	float      : left;
	margin-top : -21px;
	background : #FFFFFF;
	height     : 18px;
	padding    : 2px 5px 2px 5px;
	color      : #6c6c6c;
	font-size  : 14px;
	overflow   : hidden;
	font-family: Arial, Helvetica, sans-serif;
}

.form-style-list input[type="number"] {
	text-align-last   : end;
	box-sizing        : border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	width             : 100%;
	display           : block;
	outline           : none;
	border            : none;
	height            : 25px;
	line-height       : 25px;
	font-size         : 16px;
	padding           : 0;
	font-family       : Arial, Helvetica, sans-serif;
}

.form-style-list input[type="text"],
.form-style-list input[type="date"],
.form-style-list input[type="datetime"],
.form-style-list input[type="email"],
.form-style-list input[type="search"],
.form-style-list input[type="time"],
.form-style-list input[type="url"],
.form-style-list input[type="password"],
.form-style-list textarea,
.form-style-list select {
	box-sizing        : border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing   : border-box;
	width             : 100%;
	display           : block;
	outline           : none;
	border            : none;
	height            : 25px;
	line-height       : 25px;
	font-size         : 16px;
	padding           : 0;
	font-family       : Serif, "Times New Roman", Times;
}

.form-style-list input[type="text"]:focus,
.form-style-list input[type="date"]:focus,
.form-style-list input[type="datetime"]:focus,
.form-style-list input[type="email"]:focus,
.form-style-list input[type="number"]:focus,
.form-style-list input[type="search"]:focus,
.form-style-list input[type="time"]:focus,
.form-style-list input[type="url"]:focus,
.form-style-list input[type="password"]:focus,
.form-style-list textarea:focus,
.form-style-list select:focus {
	display: block;
}

.form-style-list li>span {
	background : #F3F3F3;
	display    : block;
	padding    : 3px;
	margin     : 0 -9px -9px -9px;
	text-align : center;
	color      : #471fcb;
	font-family: Arial, Helvetica, sans-serif;
	font-size  : 11px;
}

.form-style-list textarea {
	resize: none;
	height: auto;
}

.form-style-list input[type="submit"],
.form-style-list input[type="button"] {
	background   : #2471FF;
	border       : none;
	padding      : 10px 20px 10px 20px;
	border-bottom: 3px solid #5994FF;
	border-radius: 3px;
	color        : #D2E2FF;
}

.form-style-list input[type="submit"]:hover,
.form-style-list input[type="button"]:hover {
	background: #6B9FFF;
	color     : #fff;
}

.text-red-500 {
	margin: 10px 0 0 0;
	color : red;
}

.lbl-w-50 {
	width: 45%;
}

.lbl-w-25 {
	width: 25%;
}

.lblId {
	width: 25%;
}

.lblname {
	font-size: 25px;
	color    : blue;
}

.divFlex {
	display: flex;
}

.divHeader {
	display        : flex;
	justify-content: space-evenly;
}

.dLink {
	text-decoration: unset;
}

.btnmagico {
	background   : black;
	cursor       : pointer;
	border       : none;
	padding      : 16px 32px;
	color        : #FFF;
	font-size    : 24px;
	font-weight  : bold;
	position     : relative;
	border-radius: 12px;
}

.btnmagico::before {
	content        : "";
	position       : absolute;
	top            : 0;
	left           : 0;
	z-index        : -1;
	width          : 100%;
	height         : 100%;
	background     : linear-gradient(45deg, red, blue, deeppink, blue, red, blue, deeppink, blue);
	background-size: 800%;
	border-radius  : 10px;
	filter         : blur(8px);
	animation      : glowing 20s linear infinite;
}

.dLink {
	text-decoration: unset;
}

.botButton {
	border         : none;
	text-decoration: unset;
	background     : white;
}

.divlbldir {
	text-align: center;
	padding   : 10px;
	font-size : 24px;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}

	50% {
		background-position: 400% 0;
	}

	100% {
		background-position: 0 0;
	}
}


.dropdown-submenu {
	position: relative;
  }
  
  .dropdown-submenu .dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -1px;
  }


  	.hideMenuNav {
	  display: none;
	}
	.showMenuNav {
	  display: block;
	  position: absolute;
	  width: 100%;
	  height: 100vh;
	  top: 0;
	  left: 0;
	  background: white;
	  z-index: 10;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-evenly;
	  align-items: center;
	}
  
	.showHamburger {
		display:none;
		
	}

  @media (max-width: 768px) {
    .showbell{
        display: none;
    }
	.divhead{
		display: table-caption;
		align-items: center;
		list-style: none;
		/* background-color: #471fcb;
		color: whitesmoke; */
	}
	.divhead2{
		display: none;
	}	
	.showHamburger {
		display:block;
		align-items: right;
	}
}