.container {
    height          : 384px;
    width           : 500px;
    background-color: #ffffff;
    padding         : 10px;
    border-radius   : 10px;
    box-shadow      : 0 0 10px rgba(0, 0, 0, 0.1);

}

.input_group {
    display         : flex;
    align-items     : center;
    padding         : .375rem .75rem;
    font-size       : 1rem;
    font-weight     : 400;
    line-height     : 1.5;
    color           : #212529;
    text-align      : center;
    white-space     : nowrap;
    background-color: #e9ecef;
    border          : 1px solid #ced4da;
    border-radius   : .375rem;
}