.Post{
    max-width: 800px;
    width: 100%;
    display: table;
    margin: 0 auto;
    padding: 20px 50px;
  }
  .cabecera {
    width           : 90%;
    padding: 10PX;
    margin-top      : 10px;
    height          : 174px;
    background-color: #d1e7dd;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16px;
    display         : flex;
    justify-content : space-around;
    box-shadow      : 13px 14px 15px 5px rgba(0, 0, 0, 0.34);
}

.cabeceraAlta {
    width           : 90%;
    padding: 10PX;
    margin-top      : 10px;
    height          : 98px;
    background-color: #d1e7dd;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16px;
    display         : flex;
    justify-content : space-around;
    box-shadow      : 13px 14px 15px 5px rgba(0, 0, 0, 0.34);
}
.footer{
    background-color: white;
    width: 90%;
    border: 1px solid lightgrey;
    box-shadow: 13px 14px 15px 5px rgba(0, 0, 0, 0.34);
    height: 46px;
}

.addprod2 {
    margin: 6px;
    padding: 5px;
}
.addprod {
    width           : 90%;
    height          : auto;
    background-color: #d1e7dd;;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16px;
    display         : flex;
    justify-content : left;
    align-items: center;
}
.costoEnvio{
    width: 200px;
    padding-right: 15px;
    font-weight: bold
}
.detalleCab {
    width           : 90%;
    background-color: white;
    box-shadow      : 13px 14px 15px 5px rgba(0, 0, 0, 0.34);
}
.detalle{
    margin:7px;
    display: inline-block;
}
.total {
    background-color: white;
    width           : 90%;
    height          : auto;
    font-family     : Arial, Helvetica, sans-serif;
    font-size       : 16px;
    display         : flex;
    justify-content : left;
    align-items: center;
    
}

.totaltr {
    height         : 30px;
    text-align-last: right;
    margin-right: 10px;
}

.totaltd1 {
    width: 800px;
}

.totaltd2 {
    width: 200px;
    padding-right: 15px;
}

.dLink {
    text-decoration: unset;
}

.styledtable {
    border-collapse: collapse;
    margin         : 6px 0;
    font-size      : 0.9em;
    font-family    : sans-serif;
    min-width      : 1000px;
}

.styledtable thead tr {
    border-radius   : 25px;
    background-color: #009879;
    color           : #ffffff;
    text-align      : left;
}

.styledtable th,
.styledtable td {
    padding: 12px 15px;
}

.styledtable tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styledtable tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styledtable tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styledtable tbody tr.active-row {
    font-weight: bold;
    color      : #009879;
}

.row {
    height   : 25px;
    font-size: 16px;
}


.icon {
    display      : inline-block;
    position     : relative;
    width        : 16px;
    height       : 16px;
    border       : 0;
    border-radius: 50%;
}

.icon-absolute {
    position: absolute;
}

.icon-remove {
    content         : '';
    position        : absolute;
    width           : 2px;
    height          : 10px;
    left            : 7px;
    top             : 3px;
    background-color: white;
}


.icon-add {
    content         : '';
    position        : absolute;
    width           : 2px;
    height          : 10px;
    left            : 7px;
    top             : 3px;
    background-color: white;
}

.bg-red {
    background-color: red;
}

.row__remove {
    display   : flex;
    padding   : 0;
    position  : absolute;
    top       : 10px;
    right     : -20px;
    opacity   : 0;
    transition: opacity 0.2s ease-in-out;

}

.row:hover .row:focus-within {
    opacity: 1;
}

.row:hover #delete {
    background-color: crimson;
}

.image__remove {
    background-image: url('../components/ventas/images/remove.svg');
    right           : -10px;
}

button.link {
    display    : flex;
    align-items: center;
    background : transparent;
    border     : 0;
    color      : blue;
}

button:hover,
button:focus {
    text-decoration: underline;
}

button:focus {
    outline: 1px dotted cyan;
    opacity: 1;
}

.input_fact {
    width          : 50px;
    text-align-last: right;
    border-color   : 0.5px solid lightgray;
}
.input_text {
    width          : 250px;
    border-color   : 0.5px solid lightgray;
}
.incluido{
    text-align: center;
    font-weight: bold;
}
.input_fact:hover {
    border-color: lightgreen;

}
.collapsible {
    width: 90%;
    border-radius: 3px;
    background-color: lightgreen;
    box-shadow      : 13px 14px 15px 5px rgba(0, 0, 0, 0.34);

}

.divProd{
    display:flex;
}
