.modalBack {
    width           : 100vw;
    height          : 100vh;
    background-color: rgba(200, 200, 200);
    position        : fixed;
    display         : flex;
    justify-content : center;
    align-items     : center;
    top:0;
}

.modalContainer {
    width           : 500px;
    height          : 500px;
    background-color: white;
    border-radius   : 12px;
    box-shadow      : rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display         : flex;
    flex-direction  : column;
    padding         : 25px;

}

.modalTitle {
    display   : inline-block;
    text-align: center;
    margin-top: 10px;
}

.modalBody {
    flex           : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;
    font-size      : 20px;
    text-align     : center;
}

.modelFooter {
    flex           : 20%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.modelFooter button {
    width           : 150px;
    height          : 45px;
    margin          : 10px;
    border          : none;
    background-color: cornflowerblue;
    color           : white;
    border-radius   : 8px;
    font-size       : 20px;
    cursor          : pointer;
}

.modelCloseBtn {
    display        : flex;
    justify-content: flex-end;
}

.modelCloseBtn button{
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
}

#cancelBtn{
    background-color: red;
}