.cabprod {
    width        : 90%;
    border-radius: 10px;
}

.styled-table-prod {
    border-collapse: collapse;
    margin         : 25px 0;
    font-size      : 0.9em;
    font-family    : sans-serif;
    min-width      : 1000px;
    box-shadow     : 15px 15px 20px rgba(0, 0, 0, 0.15);
}

.styled-table-prod thead tr {
    border-radius   : 25px;
    background-color: #009879;
    color           : #ffffff;
    text-align      : left;
}

.styled-table-prod th,
.styled-table-prod td {
    padding: 12px 15px;
}

.styled-table-prod tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-prod tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-prod tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.styled-table-prod tbody tr.active-row {
    font-weight: bold;
    color      : #009879;
}

.row {
    height   : 25px;
    font-size: 16px;
}

.ordenado {
    cursor: pointer;
    color : blue
}


@media (max-width: 768px) {
    .styled-table-prod {
        min-width: 100%;
    }
}